ul{
    margin: 20px;
    padding: 10px 20px;
    list-style: none;
    height: 36px;
    width: fit-content;
    line-height: 36px;
    background-color: rgb(0, 0, 0);
    margin-left: 565px;
    border-radius: 10px;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
}

li{
    float: left;
    border-right: 1px solid blue;
}

a{
    display: block;
    padding: 0 28px;
    color:white;
    text-decoration: none;
}

 a:hover, .active a{
     background-color: rgb(188, 20, 20);
     color: white;
 }

.loc-sec {
    height: 130px;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    /* align-items: center; */
}

.loc-sec .main-sec {
    background-color: white;
    display: flex;
    column-gap: 20px;
    border-radius: 10px;
    height: 160px;
    justify-content: center;
    align-items: center;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    margin-top: -5px;
}

.loc-sec .main-sec .pick {
    padding: 30px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.loc-sec .main-sec .pick label {
    color: black;
    font-weight: 700;
}

.loc-sec .main-sec .pick p {
    border: 1px solid darkgrey;
    padding: 6px 20px;
    border-radius: 10px;
}

.loc-sec .main-sec .pick input {
    padding: 10px 30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
}

 .car-sec {
    height: 192vh;
    padding: 30px;
    /* justify-content: center; */
    flex-direction: column;
    display: flex;
}

.car-sec .btn input {
    padding: 10px 25px;
    border: 1px solid darkgray;
    border-radius: 30px;
    cursor: pointer;
    margin-top: 20px;
}

.car-sec .main-sec {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
    column-gap: 10px;
    flex-wrap: wrap;
    row-gap: 10px;
}

.car-sec .main-sec .box {
    /* background: red; */
    overflow: hidden;
    width: 365px;
    padding: 20px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    border: 1px solid darkgray;
}

.car-sec .main-sec .box .details {
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    row-gap: 15px;
}

.car-sec .main-sec .box .details .car-name {
    font-size: 23px;
    font-weight: 700;
}

.car-sec .main-sec .box .review {
    display: flex;
    column-gap: 5px;
}

.car-sec .main-sec .box .review i {
    color: orange;
}

.car-sec .main-sec .box .review p {
    color: darkgray;
}

.car-sec .main-sec .box .feature {
    display: flex;
    flex-wrap: wrap;
    column-gap: 70px;
    row-gap: 20px;
}

.car-sec .main-sec .box .feature p i {
    color: #0043ff8c;
    font-size: 20px;
}

.car-sec .main-sec .box .price {
    display: flex;
    border-top: 1px solid darkgray;
    column-gap: 167px;
    padding-top: 20px;
    align-items: center;
}

.car-sec .main-sec .box .price p {
    font-size: 20px;
    font-weight: 700;
}

.car-sec .main-sec .box .price button {
    border: none;
    border-radius: 10px;
    cursor: pointer;
    background-color: #0043ff8c;
    height: 35px;
    width: 100px;
}

.car-sec .txt {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 10px;
}

.car-sec .txt .txt1 {
    font-size: 3rem;
    font-weight: 700;
}

.car-sec .txt .txt1 span {
    color: #0043ff8c;
}

footer{
    flex-direction: column;
    align-items: center;
  }

  .footerLeft{
    padding: 100px;
    width: 90%;
  }

  .footerRight{
    padding: 20px;
    width: 100%;
    align-items: center;
    background-color: rgb(251, 4, 4);
  }

  
